<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <title>test</title>
        <!-- <title>Somi 后台管理系统</title>-->
        <meta name="keywords" content="somi" />
        <meta name="description" content="somi" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- basic styles -->
        <link href="/static/css/base/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/base/font-awesome.min.css" />

        <!--[if IE 7]>
        <link rel="stylesheet" href="/static/css/base/font-awesome-ie7.min.css" />
        <![endif]-->

        <!-- ace styles -->
        <link rel="stylesheet" href="/static/css/base/ace.min.css" />
        <link rel="stylesheet" href="/static/css/base/ace-rtl.min.css" />
        <link rel="stylesheet" href="/static/css/base/ace-skins.min.css" />

        <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/base/ace-ie.min.css" />
        <![endif]-->

        <!-- basic scripts -->
        <script src="/static/js/base/jquery-2.0.3.min.js"></script>
        <script type="text/javascript">
            if ("ontouchend" in document) {
                document.write("<script src='/static/js/base/jquery.mobile.custom.min.js'>" + "<" + "/script>");
            }
        </script>
        <script src="/static/js/base/bootstrap.min.js"></script>
        <script src="/static/js/base/typeahead-bs2.min.js"></script>

        <!-- ace scripts -->
        <script src="/static/js/base/ace-elements.min.js"></script>
        <script src="/static/js/base/ace.min.js"></script>

        <!-- inline styles related to this page -->
        <!-- ace settings handler -->
        <script src="/static/js/base/ace-extra.min.js"></script>
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="/static/js/base/html5shiv.js"></script>
        <script src="/static/js/base/respond.min.js"></script>
        <![endif]-->
    </head>


    <body>
        <div class="navbar navbar-default" id="navbar">
            <script type="text/javascript">
                try {
                    ace.settings.check('navbar', 'fixed')
                } catch (e) {
                }
            </script>

            <div class="navbar-container" id="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="javascript:void(0);" class="navbar-brand">
                        <small><i class="icon-leaf"></i>test</small>
                    </a>
                </div>

                <div class="navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">
                        <li class="purple">
                            <a href="javascript:void(0);">
                                <i class="icon-bell-alt icon-animated-bell"></i>
                                <span class="badge badge-important">8</span>
                            </a>
                        </li>

                        <li class="light-blue">
                            <a data-toggle="dropdown" href="javascript:void(0);" class="dropdown-toggle">
                                <img class="nav-user-photo" src="/static/images/avatars/user.jpg" alt="Your Photo" />
                                <span class="user-info"><small>欢迎光临,</small><span id="nav-account">Jason</span></span>
                                <i class="icon-caret-down"></i>
                            </a>

                            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#"><i class="icon-cog"></i>设置</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-user"></i>个人资料</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#"><i class="icon-off"></i>退出</a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- /.ace-nav -->
                </div><!-- /.navbar-header -->
            </div><!-- /.container -->
        </div><!-- /#navbar -->

        
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try {
                    ace.settings.check('main-container', 'fixed')
                } catch (e) {
                }
            </script>

            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <div class="sidebar" id="sidebar">
                    <script type="text/javascript">
                        try {
                            ace.settings.check('sidebar', 'fixed')
                        } catch (e) {
                        }
                    </script>

                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <button class="btn btn-success">
                                <i class="icon-signal"></i>
                            </button>
                            <button class="btn btn-info">
                                <i class="icon-pencil"></i>
                            </button>
                            <button class="btn btn-warning">
                                <i class="icon-group"></i>
                            </button>
                            <button class="btn btn-danger">
                                <i class="icon-cogs"></i>
                            </button>
                        </div>
                        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                            <span class="btn btn-success"></span>
                            <span class="btn btn-info"></span>
                            <span class="btn btn-warning"></span>
                            <span class="btn btn-danger"></span>
                        </div>
                    </div>

                    <!-- 导航菜单栏start -->
                    <ul id="nav-menu" class="nav nav-list">
                        
                    </ul><!-- /.nav-list end -->


                    <div class="sidebar-collapse" id="sidebar-collapse">
                        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                    </div>
                    <script type="text/javascript">
                        try {
                            ace.settings.check('sidebar', 'collapsed')
                        } catch (e) {
                        }
                    </script>
                </div>


                <div class="main-content">
                    <div class="breadcrumbs" id="breadcrumbs">
                        <script type="text/javascript">
                            try {
                                ace.settings.check('breadcrumbs', 'fixed')
                            } catch (e) {
                            }
                        </script>

                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home home-icon"></i>
                                <a href="/">首页</a>
                            </li>
                            <li class="active">控制台</li>
                        </ul><!-- .breadcrumb -->
                    </div>
                    
                    <div class="page-content">
                         [[.LayoutContent]]
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->



                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="icon-cog bigger-150"></i>
                    </div>

                    <div class="ace-settings-box" id="ace-settings-box">
                        <div>
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="default" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select>
                            </div>
                            <span>&nbsp; 选择皮肤</span>
                        </div>

                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                            <label class="lbl" for="ace-settings-navbar"> 固定导航条</label>
                        </div>
                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                            <label class="lbl" for="ace-settings-sidebar"> 固定滑动条</label>
                        </div>
                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                            <label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑</label>
                        </div>
                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                            <label class="lbl" for="ace-settings-rtl"> 切换到左边</label>
                        </div>
                        <div>
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                            <label class="lbl" for="ace-settings-add-container"> 切换到窄屏</label>
                        </div>
                    </div>
                </div><!-- /#ace-settings-container -->
            </div><!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div>
        <!-- /.main-container -->
    </body>
</html>

<script type="text/javascript">
//string format function
String.prototype.format = function(args) {
    var result = this;
    if (arguments.length > 0) {    
        if (arguments.length == 1 && typeof (args) == "object") {
            for (var key in args) {
                if(args[key]!=undefined){
                    var reg = new RegExp("({" + key + "})", "g");
                    result = result.replace(reg, args[key]);
                }
            }
        }
    } else {
        for (var i = 0; i < arguments.length; i++) {
            if (arguments[i] != undefined) {
                var reg= new RegExp("({)" + i + "(})", "g");
                result = result.replace(reg, arguments[i]);
            }
        }
    }
    return result;
}

// data table config
var DataTableConfig = {
    "bProcessing": false,
    "bServerSide": true,
    "aaSorting": {},
    "oLanguage": {
        "sProcessing": "正在加载中......",
        "sLengthMenu": "每页显示_MENU_条记录",
        "sSearch": "搜索:",
        "sZeroRecords": "抱歉，没有检索到相关数据！",
        "sInfo": "从_START_到_END_/共_TOTAL_条数据",
        "sInfoEmpty": "没有数据",
        "sInfoFiltered": "(从_MAX_条数据中检索)",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "前一页",
            "sNext": "后一页",
            "sLast": "尾页"
        }
    },
};

//data table search enter key
function DataTableSearchBind(oTable){
    var filter = $("div.dataTables_filter");
    if (filter.length) {
        filter.find("input").unbind();
        filter.find("input").bind("keyup", function(e){
            if (e.keyCode == 13) {
                oTable.fnFilter(this.value);
            }
        });
    }
}

//It run since page loading is complete
$(function() {
    //表记录全选操作
    $('table th input:checkbox').on('click' , function(){
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
        .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
        });
    });

    //get site info(menu, account)
    $.ajax({
      type: "POST",
      url: "/site/menu",
      data: {},
      dataType: "json",
      cache: false,
      timeout: 5000,
      success:function(data){
        if(data.succ){
          $('#nav-menu').html(data.menu);
          $('#nav-account').html(data.account);
        }
      },
      error:function(){
        alert("网络连接超时")
      }
    });
});
</script>
